.app {
  min-height: 100vh;
  background-color: #1e1e2f;
  color: #dbd8e3
}

.body{
  padding-left: 15%;
  padding-right: 15%;
}

.input{
  width: 100%;
  height: 60px;
  border: 2px solid #2b3553 !important;
  background: transparent !important;
  color: #dbd8e3 !important;
  padding: 15px !important;
  font-size: 17px !important;
  margin-bottom: 20px;
  border-radius: 10px !important;
}